<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Project</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <h1>Delete Project</h1>
    <p>Are you sure you want to delete {{ project.name }}?</p>
    <form method="post">

        {% csrf_token %}
        <button type="submit">Confirm Delete</button>
    </form>
    <a href="{% url 'project_list' %}" class="btn">Cancel</a>
</body>

</html>