<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Employee List</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>

    <h1>Employee List</h1>
    <a href="{% url 'employee_create' %}" class="btn">Add New Employee</a>
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Phone Number</th>
                <th>Email Address</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for employee in employees %}
            <tr>
                <td>{{ employee.name }}</td>
                <td>{{ employee.position.title }}</td>
                <td>{{ employee.phone_number}}</td>
                <td>{{ employee.emailAddress}}</td>
                <td>
                    <a href="{% url 'employee_update' employee.id %}">Edit</a>
                    <a href="{% url 'employee_delete' employee.id %}">Delete</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>